* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Luckiest Guy", cursive;
}

#container-all {
  min-height: 100vh;
  width: 100%;
  color: beige;
}

#container-layer {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#container-header {
  min-height: 15vh;
}

#container-info {
  padding: 1em;
  min-height: 85vh;
  background-image: url("./aot-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

/* .info {
  margin: 3em 0;
}

.info > h3 {
  margin-bottom: 0.5em;
} */

#container-challenge {
  min-height: 100vh;
  width: 100%;
  background-image: url("./aot-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  color: beige;
}
