* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Luckiest Guy", cursive;
}

#container-all {
  min-height: 100vh;
  width: 100%;
  color: beige;
}

#container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  min-height: 15vh;
  background-image: url("./images/aot-bg-nav.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-bottom: 5px solid black;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

#header-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#container-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#container-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 1em;
  min-height: 85vh;
  background-image: url("./images/aot-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-bottom: 5px solid black;
  border-right: 2.5px solid black;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  font-size: clamp(0.5rem, 5vw, 1.2rem);
}

.info > h3 {
  margin-bottom: 0.5em;
}

.layer {
  height: 100%;
  width: 100%;
  background-color: rgb(212, 32, 32);
}

#creator-link,
#created-for {
  text-decoration: none;
  color: inherit;
}

#container-secondary {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#container-fun-facts {
  background-image: url("./images/aot-fun-facts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid black;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  font-size: clamp(0.5rem, 5vw, 1.2rem);
  border-left: 2.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 1em;
}

#container-description {
  background-image: url("./images/aot-desc-stripe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid black;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  font-size: clamp(0.5rem, 5vw, 1.2rem);
  border-left: 2.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 1em;
}

#container-challenge {
  max-height: 100vh;
  width: 100%;
  background-image: url("./images/aot-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  color: beige;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid black;
  font-size: clamp(0.5rem, 5vw, 1.2rem);
}

#target-title {
  padding: 1em;
}

#target-button {
  cursor: pointer;
}

#target-quote {
  text-align: center;
  padding: 5em 1em;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(61, 49, 49);
  color: rgb(115, 106, 106);
  padding: 1em;
  background-image: url("./images/aot-footer.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
